.DS_Store
__pycache__/
*.py[cod]
*.so
*.egg-info/
.env
.venv
venv/
env/
.ipynb_checkpoints/
*.ipynb
models/
data/raw/
data/processed/
.env

# macOS
.DS_Store

# Visual Studio Code
.vscode/

# pytest
.pytest_cache/

# logs
logs/
*.log
